name: CI
on: [push, pull_request]
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [ '3.1', '3.2', '3.3', '3.4', '4.0', 'head' ]
        rails: [ '7.1', '7.2', '8.0', '8.1', 'edge' ]
        rubyopt: [""]
        include:
          - ruby: '3.3'
            rails: '7.1'
            rubyopt: "--enable-frozen-string-literal"
        exclude:
          - ruby: '3.1'
            rails: 'edge'
          - ruby: '3.1'
            rails: '8.0'
          - ruby: '3.1'
            rails: '8.1'
          - ruby: '3.2'
            rails: 'edge'

    env:
      RAILS_VERSION: ${{ matrix.rails }}
      RUBYOPT: ${{ matrix.rubyopt }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run unit tests
        run: bundle exec rake test:unit RUBYOPT="${{ matrix.rubyopt }}"
        timeout-minutes: 3

      - name: Run acceptance tests
        run: bundle exec rake test:acceptance RUBYOPT="${{ matrix.rubyopt }}"
        timeout-minutes: 10
        if: ${{ matrix.rails != 'edge' && matrix.ruby != 'head' }} # Acceptance tests use `gem install rails && rails new`
